*
{
    cursor: none;
}
body {
    background-image: url(images/backGround.jpg);
    margin: 0;
    padding: 0;
}

.contanier {
    margin: 0;
    width: 5%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: left 0.5s ,bottom 0.5s;
}

.contanier img {
    width: 100%;
}
#bullet
{
    opacity: 0;
    transform: translateY(100%);
}